{{- if ne .Values.kuadrant.namespace "openshift-operators" }}
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: kuadrant-system
  namespace: {{ .Values.kuadrant.namespace }}
spec:
  upgradeStrategy: Default
{{- end }}
