apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: kuadrant-operator
  namespace: {{ .Values.kuadrant.namespace }}
spec:
  name: {{ .Values.kuadrant.operatorName }}
  channel: {{ .Values.kuadrant.channel }}
  installPlanApproval: {{ .Values.kuadrant.installPlanApproval }}
{{- if eq .Values.kuadrant.installPlanApproval "Manual" }}
  startingCSV: {{ .Values.kuadrant.startingCSV }}
{{- end }}
{{- if .Values.kuadrant.indexImage }}
  source: kuadrant-upstream
  sourceNamespace: {{ .Values.kuadrant.namespace }}
{{- else }}
  source: {{ .Values.kuadrant.catalogSource }}
  sourceNamespace: {{ .Values.kuadrant.catalogSourceNamespace }}
{{- end }}
{{- if ne .Values.kuadrant.operatorName "authorino-operator" }}
  config:
    env:
      - name: "AUTH_SERVICE_TIMEOUT"
        value: "1000ms"
{{- if and (eq .Values.istio.istioProvider "ocp") (eq .Values.kuadrant.operatorName "kuadrant-operator") }}
      - name: "ISTIO_GATEWAY_CONTROLLER_NAMES"
        value: "openshift.io/gateway-controller/v1"
{{- end }}
{{- if .Values.kuadrant.wasmPluginImage }}
      - name: "RELATED_IMAGE_WASMSHIM"
        value: {{ .Values.kuadrant.wasmPluginImage }}
{{- end }}
{{- end }}
