apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: kuadrant-operator
  namespace: {{ .Values.kuadrant.namespace }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "0"
spec:
  name: {{ .Values.kuadrant.operatorName }}
  channel: {{ .Values.kuadrant.channel }}
  installPlanApproval: {{ .Values.kuadrant.installPlanApproval }}
{{- if eq .Values.kuadrant.installPlanApproval "Manual" }}
  startingCSV: {{ .Values.kuadrant.startingCSV }}
{{- end }}
{{- if .Values.kuadrant.indexImage }}
  source: kuadrant-upstream
  sourceNamespace: {{ .Values.kuadrant.namespace }}
{{- else }}
  source: {{ .Values.kuadrant.catalogSource }}
  sourceNamespace: {{ .Values.kuadrant.catalogSourceNamespace }}
{{- end }}
{{- if ne .Values.kuadrant.operatorName "authorino-operator" }}
  config:
    env:
      - name: "AUTH_SERVICE_TIMEOUT"
        value: "1000ms"
      - name: "RATELIMIT_SERVICE_TIMEOUT"
        value: "1000ms"
      - name: "RATELIMIT_CHECK_SERVICE_TIMEOUT"
        value: "1000ms"
      - name: "RATELIMIT_REPORT_SERVICE_TIMEOUT"
        value: "1000ms"
      - name: "DNS_DEFAULT_TTL"
        value: "1"
      - name: "DNS_DEFAULT_LB_TTL"
        value: "1"
{{- if .Values.enableTracing.enable }}
      - name: "OTEL_EXPORTER_OTLP_ENDPOINT"
        value: "http://jaeger-collector.tools.svc.cluster.local:4318"
      - name: "OTEL_EXPORTER_OTLP_INSECURE"
        value: "true"
{{- end }}
{{- if and (eq .Values.istio.istioProvider "ocp") (eq .Values.kuadrant.operatorName "kuadrant-operator") }}
      - name: "ISTIO_GATEWAY_CONTROLLER_NAMES"
        value: "openshift.io/gateway-controller/v1"
{{- end }}
{{- if .Values.kuadrant.wasmPluginImage }}
      - name: "RELATED_IMAGE_WASMSHIM"
        value: {{ .Values.kuadrant.wasmPluginImage }}
{{- end }}
{{- if and .Values.kuadrant.wasmPluginImage .Values.kuadrant.protectedRegistry }}
    {{- if not (hasPrefix .Values.kuadrant.protectedRegistry .Values.kuadrant.wasmPluginImage) }}
    {{- fail "protectedRegistry must match the registry in wasmPluginImage" }}
    {{- end }}
      - name: "PROTECTED_REGISTRY"
        value: {{ .Values.kuadrant.protectedRegistry }}
{{- end }}
{{- end }}
