{{ if .Values.tools.jaeger.enable }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jaeger
  namespace: {{ .Values.tools.namespace }}
  labels:
    jaeger-infra: jaeger-deployment
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: jaeger
      jaeger-infra: jaeger-pod
  template:
    metadata:
      labels:
        app: jaeger
        jaeger-infra: jaeger-pod
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "16686"
    spec:
      containers:
        - image: {{ .Values.tools.jaeger.image }}
          name: jaeger
          args: ["--config", "/etc/jaeger/jaeger-config.yaml"]
          volumeMounts:
            - name: jaeger-config
              mountPath: /etc/jaeger
              readOnly: true
          ports:
            - containerPort: 16686
              protocol: TCP
            - containerPort: 4317
              protocol: TCP
            - containerPort: 9411
              protocol: TCP
            - containerPort: 4318
              protocol: TCP
            - containerPort: 13133
              protocol: TCP
          livenessProbe:
            failureThreshold: 5
            httpGet:
              path: /status
              port: 13133
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 15
            successThreshold: 1
            timeoutSeconds: 1
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /status
              port: 13133
              scheme: HTTP
            initialDelaySeconds: 1
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          resources:
            limits:
              cpu: "500m"
              memory: "1Gi"
            requests:
              cpu: "5m"
              memory: "100Mi"
      volumes:
        - name: jaeger-config
          configMap:
            name: jaeger-config
{{end}}
